.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 300px;
  }

  .card-title {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}